* {
    box-sizing: border-box;
}

section.login_page {
    
    /* background-attachment: fixed; */
};

/* HEADER */
.login--header {
    padding-bottom: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    background: white;
}

/* MAIN */
main.login--main_content {
    padding: 50px 20px 0 20px;
    margin-bottom: 80px;
    max-width: 620px;
}

article {
    padding-bottom: 57px;
}

.main_content--heading {
    text-align: center;
    color: #2D3A40;
    margin: 0;
    font-size: 24px;
    line-height: 32px;
    padding-bottom: 20px;
}

.main_content--subheading {
    text-align: center;
    font-size: 14px;
    color: #748296;
    font-weight: 400;
}

/* FOOTER */
footer.login_page--footer {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 40px 0 45px 20px

}

.login--logo_footer {
    padding: 40px 0 10px 0px;
}

footer ul {
    padding: 0 0 0 20px;
}

.login--footer-list {
    list-style: none;
    padding: 0 0 10px 0;
}

.login--footer_link {
    text-decoration: none;
    color: #748296;
}

@media screen and (min-width: 620px) {
    /* Login general config */
    .login_page {
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    /* Main Content */
    .login--main_content {
        margin-bottom: 166px;
    }
    /* Footer */
    footer {
        max-width: 940px;
        display: flex;
        padding-right: 20px;
    }

    .login--logo_footer {
        padding: 0 0 10px 0!important;
    }

    .login--logo_footer ul {
        margin: 0!important;
        display: flex;
    }

    .login--logo_footer ul li {
        padding-right: 20px!important;
    }
}