.container {
    position: relative;
}
.input--container {
    position: relative;
    margin: 0 28px 30px 27px;
}

.label {
    position: absolute;
    transition: all .3s;
    left: 15px;
    bottom: 5px;
    font-size: 16px;
    line-height: 36px;
    color: rgba(45, 58, 64, 0.3);
}

.label.--up{
    transform: translateY(-29px);
    transition: all .3s;
    font-size: 14px;
    background-color: white;
    padding: 0 10px;
    color: rgba(45, 58, 64, 0.3);
    line-height: 14px;
}

.input {
    height: 42px;
    width: 100%;
    border: 1px solid rgba(116, 130, 150, 0.2);
    outline-color: #326FFF;
    outline-width: 1px;
    padding: 11px 15px;
    font-size: 16px;
}

input:-internal-autofill-selected {
    background-color: white!important;
}

.error-container {
    position: absolute;
    background: #F0175C;
    color: white;
    height: 22px;
    font-size: 10px;
    border-radius: 0px 0px 4px 4px;
    display: flex;
    justify-content: flex-start;
    width: 225px;
    align-items: center;
    padding-left: 20px;
    font-weight: 600;
    opacity: 0;
}

.has-error {
    opacity: 1;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}