.form_login {
    background-color: white;
    padding: 30px 0 40px 0;
}

.form_input--inputs--aling_inputs {
    display: flex;
    margin: 0 27px 30px 28px;
}

.button-container {
    padding: 0 43px 0px 42px;
}

.btn-primary {
    border: none;
    border-radius: 3px;
    background-color: #14E298;
    height: 42px;
    color: white;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    transition: all .3s;
    outline: transparent;
}

.btn-primary:hover {
    cursor: pointer;
    background-color: #23F7AB;
    transition: all .3s;
}

.btn-primary.--outline {
    background: white;
    color: #14E298;
    border: 1px solid #14E298;
}

.btn-primary.--outline:hover {
    background: white;
    color: #14E298;
    border: 1px solid #14E298;
    cursor: initial;
}

.form--succes_notification {
    padding: 10px 18px;
    width: 312px;
    font-size: 14px;
    margin: 20px auto 0 auto;
    background-color: #F5F7FA;
    color: #2D3A40;
}
