.select--container {
    position: relative;
    margin: 0 28px 30px 27px;
}

.select {
    height: 42px;
    width: 61px;
    background-color: white;
    border: 1px solid rgba(116, 130, 150, 0.2);
}

.select--default {
    display: flex;
    align-items: center;
    height: inherit;
    padding-left: 20px;
}
.container--arrow {
    position: absolute;
    top: 22px;
    right: 12px;
}

.container--arrow.--up {
    transform: rotateX(180deg);
}

.dropbox {
    display: none;
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    box-shadow: 1px 1px 1px 1px rgba(116, 130, 150, 0.2);
    transition: all .3s;
    background-color: white;
    margin-top: 10px;
    padding: 20px 0 1px 0;
}

.dropbox.--show{
    display: block;
    z-index: 1;
}

.dropbox.--show:hover {
    cursor: pointer;
}

.dropbox li {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    transition: all .3s;
}

.dropbox li:hover {
    box-shadow: 1px 1px 1px 1px rgba(116, 130, 150, 0.2);
    transition: all .3s;
}
