@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

#root {
  background-color: #E5E5E5;
  background-image: url('./pages/login/imgs/Illustration.png');
  background-repeat: no-repeat;
  background-position: bottom center;
}